<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <style>
        body {
            font-family: Roboto;
            margin: 0;
            padding: 52px 72px;
            box-sizing: border-box;
            margin-right: 10px;
            margint-left: 10px;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        header .logo {
            font-size: 26px;
            font-weight: 900;
            color: grey !important;
        }
        header .contact {
            font-size: 44px;
            font-weight: 100;
            font-family: 'Times New Roman', Times, serif;
            color: #e62e8b !important;
            margin-top: 0px
        }
        h1, h2, h3 {
            color: #e62e8b !important;
            margin: 10px 0;
        }
        p {
            font-size: 14px;
            color: grey;
            line-height: 1.5;
            margin-left: 40px;
            text-align: justify;
        }
        .section {
            margin-bottom: 20px;
        }
        .section-title {
            font-size: 18px;
            font-weight: 900;
            color: #e62e8b !important;
            margin-bottom: 10px;
            padding-bottom: 5px;
        }
        .sub-section {
            margin-bottom: 10px;
        }
        .sub-section-title {
            font-size: 16px;
            font-weight: bold;
            color: #333 !important;
        }
        ul {
            list-style-type: disc;
            padding: 0;
            margin-left: 40px;
        }
        li {
            margin-bottom: 5px;
            color: grey;
        }
        li::marker {
            color: #e62e8b !important;
        }
    </style>
</head>
<body>
  <header>
      <div class="logo">{{initials}} {{nombre}} {{apellido}}</div>
      <div class="contact">atmira</div>
  </header>
  <div>
      <p style='margin-left: 0px; margin-top: 10px;'>{{email}}</p>
      <div class="section">
          <div style='color: #e62e8b'class="section-title">RESUMEN EJECUTIVO</div>
          <p>{{resumen}}</p>
      </div>
      <div class="section">
          <div style='color: #e62e8b' class="section-title">EXPERIENCIA PROFESIONAL</div>
          {{#each experiencia}}
          <div class="sub-section">
              <h3 style='color: #e62e8b'>{{cliente}}</h3>
              <p><strong>Proyecto:</strong> {{proyecto}}</p>
              <p><strong>Funciones:</strong> {{funciones}}</p>
              <p><strong>Herramientas:</strong> {{herramientas}}</p>
          </div>
          {{/each}}
      </div>
      <div class="section">
          <div style='color: #e62e8b'class="section-title">IDIOMAS</div>
          <ul>
              {{#each idiomas}}
              <li>{{this}}</li>
              {{/each}}
          </ul>
      </div>
      <div class="section">
          <div class="section-title">CONOCIMIENTOS INFORMÁTICOS</div>
          <ul>
              {{#each skills}}
              <li>{{this}}</li>
              {{/each}}
          </ul>
      </div>
  </div>
</body>
</html>