<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        header {
            background: #f8f8f8;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header .logo {
            font-size: 24px;
            font-weight: bold;
            color: #808080;
        }
        header .contact {
          font-size: 40px;
          color: #e62e8b;
        }
        h1 {
            font-size: 24px;
            color: #e62e8b;
            margin: 20px 0;
        }
        h2 {
            font-size: 20px;
            color: #e62e8b;
            margin: 10px 0;
        }
        p {
            font-size: 14px;
            color: #333;
            line-height: 1.5;
        }
        .section {
            margin-bottom: 20px;
        }
        .section-title {
            font-size: 18px;
            font-weight: bold;
            color: #e62e8b;
            margin-bottom: 10px;
            padding-bottom: 5px;
        }
        .sub-section {
            margin-bottom: 10px;
        }
        .sub-section-title {
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }
    </style>
</head>
<body>
  <header>
      <div class="logo">{{initials}} {{nombre}} {{apellido}}</div>
      <div class="contact">atmira</div>
  </header>
  <div style="padding: 20px;">
      <p>{{email}}</p>
      <div class="section">
          <div class="section-title">RESUMEN EJECUTIVO</div>
          <p>{{resumen}}</p>
      </div>
      <div class="section">
          <div class="section-title">EXPERIENCIA PROFESIONAL</div>
          {{#each experiencia}}
          <div class="sub-section">
              <h2>{{cliente}}</h2>
              <p><strong>Proyecto:</strong> {{proyecto}}</p>
              <p><strong>Funciones:</strong> {{funciones}}</p>
              <p><strong>Herramientas:</strong> {{herramientas}}</p>
          </div>
          {{/each}}
      </div>
      <div class="section">
          <div class="section-title">IDIOMAS</div>
          <ul>
              {{#each idiomas}}
              <li>{{this}}</li>
              {{/each}}
          </ul>
      </div>
      <div class="section">
          <div class="section-title">CONOCIMIENTOS INFORMÁTICOS</div>
          <ul>
              {{#each skills}}
              <li>{{this}}</li>
              {{/each}}
          </ul>
      </div>
  </div>
</body>
</html>